<?php

namespace Tarantool\JobQueue\Executor;

use Tarantool\JobQueue\Executor\CallbackResolver\ContainerCallbackResolver;

$container = require __DIR__.'/path/to/container.php';

return [
    new CallbackExecutor(new ContainerCallbackResolver($container, 'job.')),
    new ProcessExecutor(),
];
